{% extends 's_admin/comman.html' %}

{% block common %}
    {% if request.session.status %}
    <div class="row">
    <div class="col-sm-2">


     </div>
        <div class="col-sm-8">
            {% include 's_admin/menu.html' %}

                {% if sf %}
                     <form action="{% url 'save_type' %}" method="post">
                {% csrf_token %}
          <table align="center" border="0" width="500">
              <tr>
                  <th colspan="2" height="35px" style="text-align: center;">  <h3>Restaurant Type Oprations </h3></th>
              </tr>
              <tr>
                  <th style="text-align: center">
                      {{ sf.type_name.label }}
                  </th>
                  <th style="text-align: center"> {{ sf.type_name }}</th>
                  <th style="text-align: center">
                      {{ sf.type_name.errors  }}
                  </th>
              </tr>

              <tr>
                  <th colspan="2" style="text-align: center" height="60">
                      <button type="submit" class="btn btn-primary">save</button>
                  </th>

              </tr>


          </table>
                     </form>
                    {% elif update_type %}
                    <form action="{% url 'update_type_data' %}" method="post">
                    {% csrf_token %}
                     <table align="center" border="0" width="500" style="color: chartreuse">
              <tr>
                  <th colspan="2" height="35px" style="text-align: center;"><h3>Type Update Oprations </h3></th>
              </tr>
              <tr>
                  <th style="text-align: center">State Name</th>
                  <th style="text-align: center">
                      {{ update_type.tno }}
                      <input type="hidden" value="{{ update_type.tno }}" name="t1">
                  </th>
                         <tr>
                  <th style="text-align: center"> city Name </th>
                  <th style="text-align: center">
                      <input class="form-control" type="text" value="{{ update_type.tname  }}" name="t2">
                  </th>
              </tr>


              <tr>
                  <th colspan="2" style="text-align: center" height="60">
                      <button type="submit" class="btn btn-success">Update</button>
                  </th>

              </tr>


          </table>
</form>
                    {% endif %}


             <table class="table table-hover">
        <thead>
                 <tr>
                    <th style="text-align: center" scope="col">No</th>
                    <th style="text-align: center" scope="col">Name</th>
                    <th style="text-align: center" scope="col">Update</th>
                    <th style="text-align: center" scope="col">Delete</th>
                 </tr>
                 </thead>
                 {% for x in tdata %}
                <tr>

                    <th style="text-align: center" scope="col">{{ x.no }}</th>
                    <th style="text-align: center" scope="col">{{ x.type_name}}</th>

                    <th style="text-align: center"><a href="{% url 'update_type' %}?tno={{ x.no }}&tname={{ x.type_name }}">Update</a></th>
                    <th style="text-align: center"><a href="{% url 'delete_type' %}?tno={{ x.no }}">Delete </a></th>

                </tr>
                 {% endfor %}
            </table>


        </div>
    <div class="col-sm-2">

    </div>

    {% else %}
    <h3 style="text-align: center; font-family: 'Agency FB'; font-size: 30px;color:red">
    Does Not Show Restaurant Type
    </h3>
        </div>
 {% endif %}
{% endblock %}