{% extends 's_admin/comman.html' %}

{% block common %}
    {% if request.session.status %}
    <div class="row">
    <div class="col-sm-2">


     </div>
        <div class="col-sm-8">
            {% include 's_admin/menu.html' %}


            <div class="text-center">
                 <h1 style="text-align: center;color:#ff961a;font-family:'Permanent Marker';font-size:45px  ">Cancel Restaurant Informations</h1>
                <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">contact</th>
      <th scope="col">Email</th>
      <th scope="col">Area</th>
      <th scope="col">Type</th>

    </tr>
  </thead>
                    {% for x in data %}
                    <tbody>
    <tr>

      <td>{{ x.restro_id }}</td>
      <td>{{ x.restro_name }}</td>
      <td>{{ x.restro_contact }}</td>
      <td>{{ x.restro_email }}</td>
      <td>{{ x.restro_area }}<br> {{ x.restro_area.City.City_name }} <br>{{ x.restro_area.City.State.state_name }}</td>
      <td>{{ x.restro_type }}</td>


    </tr>
   </tbody>
                    {% endfor %}
                </table>


            </div>
               </div>

    <div class="col-sm-2">

    </div>

    {% else %}
    <h3 style="text-align: center; font-family: 'Agency FB'; font-size: 30px;color:red">
    city Opratraions
    </h3>
        </div>
 {% endif %}
{% endblock %}